.logo-and-user {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 140px;
  height: 77px;
  border: 1px solid rgba(120, 117, 117, 0.22);

  h1 {
    margin-right: 41px;
  }

  .search-input {
    border: 1px solid #707070;
    border-radius: 4px;
    width: 339px;
    height: 41px;
    justify-content: space-between;
  }

  div {
    margin-right: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 10px;
    
    input {
      border: none;
      text-align: start;
      margin-left: 27px;
    }

    input:focus {
      box-shadow: 0 0 0 0;
      outline: 0;
    }

    .global-icons {
      width: 18px;
      height: 18px;
      margin-right: 9px;
    }

    .name-user{
      flex-flow: column;
      
      p {
        font-size: 7px;
      }
    }
  }

}