@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --main-color: #041E50;
  --black-color: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: var(--main-color)
}
